.wrapper {
    border-radius: 4px;
    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1.8rem;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .icon {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    .icon + .title,
    .title + .icon {
        margin-left: 8px;
    }
}

// Button types
.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 999px;
    color: rgba(var(--black), 0.75);
    border-color: rgba(var(--black), 0.12);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        border-color: rgba(var(--black), 0.2);
    }
}

.outline {
    $border-color: rgba(var(--black), 0.12);
    border-color: $border-color;
    // border-color: currentColor;

    &:hover {
        border-color: $border-color;
        background-color: rgba(var(--black), 0.03);
    }

    &.primary {
        color: rgb(var(--primary-color));
        background-color: white;
    }

    &.primary:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.primary {
    color: white;
    border-color: rgb(var(--primary-color));
    background-color: rgb(var(--primary-color));

    &:hover {
        border-color: rgb(var(--primary-color));
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

//Button sizes
.small {
    padding: 4px 16px;
    min-width: 88px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
