@import 'normalize.css';

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-medium.woff');
    font-weight: 500;
}
@font-face {
    font-family: sofiapro;
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

:root {
    --primary-color: 254, 44, 85;
    --black: 22, 24, 35;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-hor-padding: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border-style: none;
    outline: none;
}

a[href] {
    color: black;
}

// Custom tippy tooltip
.tippy-box:not(.dummy) {
    $tippy-box-bgc: rgba(84, 84, 84, 0.92);

    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    background-color: $tippy-box-bgc;
    color: white;
    padding: 8px;

    .tippy-arrow {
        color: $tippy-box-bgc;
    }

    .tippy-content {
        padding: unset;
    }
}
