@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: 254, 44, 85;
    --black: 22, 24, 35;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-hor-padding: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border-style: none;
    outline: none;
}

a[href] {
    color: black;
}

// Custom tippy tooltip
.tippy-box {
    $tippy-box-bgc: rgba(84, 84, 84, 0.92);

    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    background-color: $tippy-box-bgc;
    color: white;
    padding: 8px;

    .tippy-arrow {
        color: $tippy-box-bgc;
    }

    .tippy-content {
        padding: unset;
    }
}
