.wrapper {
    margin: 0 auto;
    max-width: var(--default-layout-width);
    width: 100vw;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    min-height: 1000px;
    display: flex;
    margin-top: var(--default-layout-header-height);
    padding-right: var(--default-layout-right-pad);
}

.content {
    flex: 1;
    min-height: 1000px;
}
