.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: rgba(var(--black), 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.username {
    line-height: 22px;

    span {
        font-size: 1.6rem;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    svg {
        font-size: 1.4rem;
        margin-left: 6px;
        transform: translateY(1px);
        color: rgb(32, 213, 236);
    }
}

.fullname {
    font-size: 1.4rem;
    color: rgba(var(--black), 0.5);
    font-weight: 400;
    line-height: 20px;
}

.username span,
.fullname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
