.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    min-height: 1000px;
    display: flex;
    padding: 0 var(--default-layout-hor-padding);
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    min-height: 1000px;
}
